{% extends 'django_select2/base.html' %}
{% load static %}
{% block head_h1 %}Sample Head 1{% endblock %}
{% block body %}
    <label for="foo">Sample label:</label><br>
    <select id="foo" class="js-data-example-ajax" style="width: 50%"></select>
{% endblock %}
{% block jquery_functions %}
    <script>
        $('.js-data-example-ajax').select2({
            ajax: {
                url: 'api/v1/albums/',
                data: getQueryParamData,
                processResults: processAPIResponse,
                cache: true,
                minimumInputLength: 1
            }
        });

        function getQueryParamData(params) {
            return {
                term: params.term,
                page: params.page || 1
            }
        }

        function processAPIResponse(data, params) {
            params.page = params.page || 1;
            return data
        }
    </script>
{% endblock %}